adf-newspulse-dev/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-newspulse-dev"
		},
		"ls_blob_raw_dev_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_blob_raw_dev'"
		},
		"ls_databricks_newspulse_dev_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'ls_databricks_newspulse_dev'"
		},
		"ls_sql_newspulse_dev_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_sql_newspulse_dev'"
		},
		"ls_databricks_newspulse_dev_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0829-214831-jfgeylz6"
		},
		"ls_sql_newspulse_dev_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sql-newspulse-dev.database.windows.net"
		},
		"ls_sql_newspulse_dev_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "sqldb-newspulse-dev"
		},
		"ls_sql_newspulse_dev_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "sqladmin"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ls_blob_raw_dev')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('ls_blob_raw_dev_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_databricks_newspulse_dev')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-2561942283595817.17.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('ls_databricks_newspulse_dev_accessToken')]"
					},
					"existingClusterId": "[parameters('ls_databricks_newspulse_dev_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sql_newspulse_dev')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ls_sql_newspulse_dev_properties_typeProperties_server')]",
					"database": "[parameters('ls_sql_newspulse_dev_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_sql_newspulse_dev_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_sql_newspulse_dev_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_sql_staging_to_dwh_dev')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "sp_staging_to_dwh",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dwh].[sp_load_articles_from_staging]"
						},
						"linkedServiceName": {
							"referenceName": "ls_sql_newspulse_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-08-30T16:53:58Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_newspulse_dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_sql_staging_to_sql_staging_collect_all')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "sp_move_staging_to_staging_collect_all",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_collect_staging_articles]"
						},
						"linkedServiceName": {
							"referenceName": "ls_sql_newspulse_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sp_dedup_staging_collect_all",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "sp_move_staging_to_staging_collect_all",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_deduplicate_staging_collect_all]"
						},
						"linkedServiceName": {
							"referenceName": "ls_sql_newspulse_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-09-02T19:54:09Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_newspulse_dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_summary_az_open_ai')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "nb_summary_az_open_ai_to_dwh_summary",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/u2600038142@gmail.com/newspulse-dashboard/AzureDatabricks/create_news_summary_with_azure_openai"
						},
						"linkedServiceName": {
							"referenceName": "ls_databricks_newspulse_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_databricks_newspulse_dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_blob_news_dev')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_blob_raw_dev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "clean_reuters.csv",
						"folderPath": "clean/ingest_date=2025-08-29/source=reuters",
						"container": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "-----------9D0C6A03-B0F3-4468-98AC-C0F941755464",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_blob_raw_dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sql_staging_articles_dev')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_newspulse_dev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "source_name",
						"type": "nvarchar"
					},
					{
						"name": "source_url",
						"type": "nvarchar"
					},
					{
						"name": "title",
						"type": "nvarchar"
					},
					{
						"name": "summary",
						"type": "nvarchar"
					},
					{
						"name": "published_utc",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "lang",
						"type": "nvarchar"
					},
					{
						"name": "category",
						"type": "nvarchar"
					},
					{
						"name": "content_hash",
						"type": "char"
					},
					{
						"name": "load_ts",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "ingest_date",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "staging_fact_article"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_newspulse_dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_ingest_clean_to_sql_staging_dev')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "raw/clean/ingest_date=2025-08-29/source=reuters/...csv\n\nto\n\nraw/clean/ingest_date=2025-08-29/source=reuters\n\nto\n\ndbo.staging_fact_article.",
				"activities": [
					{
						"name": "cp_from_clean_news_csv_to_staging",
						"description": "Store the\nraw/clean/ingest_date=2025-08-29/source=reuters/clean_reuters.csv\nto\ndbo.staging_fact_article.",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "nb_clean_news",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_blob_news_dev",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sql_staging_articles_dev",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "sp_truncate_staging",
						"description": "This process is to delete the staging_fact_article.\nTRUNCATE TABLE dbo.staging_fact_article;",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "nb_clean_blob_clean_news",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_truncate_staging]"
						},
						"linkedServiceName": {
							"referenceName": "ls_sql_newspulse_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "nb_clean_news",
						"description": "This process is to clean the news CSV in the Azure Blob.\nraw/ingest_date=2025-08-29/reuters_world_2025-08-29.csv\nand store it to\nraw/clean/ingest_date=2025-08-29/source=reuters.\n",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "sp_truncate_staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/u2600038142@gmail.com/newspulse-dashboard/AzureDatabricks/clean_news_csv"
						},
						"linkedServiceName": {
							"referenceName": "ls_databricks_newspulse_dev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "nb_clean_blob_clean_news",
						"description": "This process is to clean the unimportant files to freshen the folder below\nraw/clean/ingest_date=2025-08-29/source=reuters.",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/u2600038142@gmail.com/newspulse-dashboard/AzureDatabricks/clean_blob_clean_news"
						},
						"linkedServiceName": {
							"referenceName": "ls_databricks_newspulse_dev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-09-02T19:41:07Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_blob_news_dev')]",
				"[concat(variables('factoryId'), '/datasets/ds_sql_staging_articles_dev')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_newspulse_dev')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_databricks_newspulse_dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_orchestrator')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Orchestrating all the pipelines",
				"activities": [
					{
						"name": "RAW",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_ingest_clean_to_sql_staging_dev",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SILVER",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "RAW",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_sql_staging_to_sql_staging_collect_all",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "GOLD",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SILVER",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_sql_staging_to_dwh_dev",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "AI NEWS SUMMARY",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "GOLD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_summary_az_open_ai",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-09-02T21:04:43Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_ingest_clean_to_sql_staging_dev')]",
				"[concat(variables('factoryId'), '/pipelines/pl_sql_staging_to_sql_staging_collect_all')]",
				"[concat(variables('factoryId'), '/pipelines/pl_sql_staging_to_dwh_dev')]",
				"[concat(variables('factoryId'), '/pipelines/pl_summary_az_open_ai')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tr_newspulse')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_orchestrator",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2025-09-02T20:28:00",
						"timeZone": "W. Europe Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_orchestrator')]"
			]
		}
	]
}